<a href="https://colab.research.google.com/github/Nikhilsai-123/dailyassesment/blob/main/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 3.9 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=6c251a0728dee4cb1fc4966061c79528c68cfbbe202578cb037a104c0cfb0ac1
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [7]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [8]:
spark=SparkSession.builder.appName('practice').getOrCreate()
df=spark.read.option('header','true').csv('natality-1.4L.csv')

In [9]:
df

DataFrame[source_year: string, year: string, month: string, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: string, plurality: string, apgar_1min: string, apgar_5min: string, mother_residence_state: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: string, mother_married: string, mother_birth_state: string, cigarette_use: string, cigarettes_per_day: string, alcohol_use: string, drinks_per_week: string, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_race: string, father_age: string, record_weight: string]

In [21]:
import pandas as pd

In [22]:
arr=pd.read_csv('natality-1.4L.csv')

<ipython-input-22-b3ddbf883d82>:1: DtypeWarning: Columns (5,12,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  arr=pd.read_csv('natality-1.4L.csv')

In [23]:
arr

,source_year,year,month,day,wday,state,is_male,child_race,weight_pounds,plurality,...,alcohol_use,drinks_per_week,weight_gain_pounds,born_alive_alive,born_alive_dead,born_dead,ever_born,father_race,father_age,record_weight
0,2005,2005,1,NaN,3.0,NaN,True,NaN,7.804364,1.0,...,NaN,NaN,99.0,5.0,2.0,1.0,8.0,38.0,24,1
1,2005,2005,2,NaN,7.0,NaN,False,NaN,5.374870,2.0,...,False,NaN,8.0,9.0,0.0,0.0,10.0,1.0,31,1
2,2005,2005,5,NaN,4.0,NaN,False,NaN,6.437498,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,31,1
3,2005,2005,8,NaN,4.0,NaN,False,NaN,6.560957,1.0,...,NaN,NaN,25.0,NaN,NaN,NaN,NaN,NaN,99,1
4,2005,2005,5,NaN,6.0,NaN,True,NaN,8.811877,1.0,...,NaN,NaN,99.0,NaN,NaN,NaN,NaN,NaN,33,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
139995,1971,1971,11,10.0,NaN,AR,False,1.0,6.375769,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,21,2
139996,1971,1971,12,20.0,NaN,AR,False,1.0,7.251004,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,22,2
139997,1971,1971,6,14.0,NaN,AR,False,1.0,6.624891,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,26,2
139998,1971,1971,5,18.0,NaN,AR,True,1.0,6.437498,1.0,...,NaN,NaN,NaN,0.0,0.0,0.0,1.0,1.0,20,2
139999,1971,1971,4,17.0,NaN,AR,True,1.0,6.937947,1.0,...,NaN,NaN,NaN,NaN,0.0,0.0,NaN,1.0,29,2

In [24]:
arr1=df.groupBy('month').count()
arr1.show()

+-----+-----+
|month|count|
+-----+-----+
|    7| 2927|
|   11| 2779|
|    3| 2815|
|    8| 2996|
|    5| 2853|
|    6| 2852|
|    9| 3009|
|    1| 2781|
|   10| 2769|
|    4| 2740|
|   12| 2829|
|    2| 2581|
+-----+-----+

In [25]:
arr.isnull().sum()

source_year                    0
year                           0
month                          0
day                       131346
wday                        8654
state                     123104
is_male                        0
child_race                124068
weight_pounds                138
plurality                    782
apgar_1min                127032
apgar_5min                 11933
mother_residence_state    123104
mother_race                64325
mother_age                     0
gestation_weeks             2301
lmp                            0
mother_married                12
mother_birth_state        123747
cigarette_use              81576
cigarettes_per_day        134232
alcohol_use                74321
drinks_per_week           136403
weight_gain_pounds         11178
born_alive_alive           93590
born_alive_dead            93623
born_dead                  93652
ever_born                    723
father_race                64325
father_age                     0
record_weight                  0
dtype: int64

In [26]:
arr['child_race'].head(100)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: child_race, Length: 100, dtype: float64

In [27]:
arr['wday'].head(100)

0     3.0
1     7.0
2     4.0
3     4.0
4     6.0
     ...
95    4.0
96    7.0
97    1.0
98    1.0
99    4.0
Name: wday, Length: 100, dtype: float64

In [29]:
df.groupBy('drinks_per_week').count()

DataFrame[drinks_per_week: string, count: bigint]

In [ ]:
arr=df.select(col('source_year')!=col('year')).show()

+--------------------------+
|(NOT (source_year = year))|
+--------------------------+
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
+--------------------------+
only showing top 20 rows

In [30]:
arr1=df.groupBy('state').count().show()

+-----+-----+
|state|count|
+-----+-----+
| NULL|33931|
+-----+-----+

# New Section

In [31]:
arr.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 140000 entries, 0 to 139999
Data columns (total 31 columns):
 #   Column                  Non-Null Count   Dtype
---  ------                  --------------   -----
 0   source_year             140000 non-null  int64
 1   year                    140000 non-null  int64
 2   month                   140000 non-null  int64
 3   day                     8654 non-null    float64
 4   wday                    131346 non-null  float64
 5   state                   16896 non-null   object
 6   is_male                 140000 non-null  bool
 7   child_race              15932 non-null   float64
 8   weight_pounds           139862 non-null  float64
 9   plurality               139218 non-null  float64
 10  apgar_1min              12968 non-null   float64
 11  apgar_5min              128067 non-null  float64
 12  mother_residence_state  16896 non-null   object
 13  mother_race             75675 non-null   float64
 14  mother_age              140000 non-null  int64
 15  gestation_weeks         137699 non-null  float64
 16  lmp                     140000 non-null  object
 17  mother_married          139988 non-null  object
 18  mother_birth_state      16253 non-null   object
 19  cigarette_use           58424 non-null   object
 20  cigarettes_per_day      5768 non-null    float64
 21  alcohol_use             65679 non-null   object
 22  drinks_per_week         3597 non-null    float64
 23  weight_gain_pounds      128822 non-null  float64
 24  born_alive_alive        46410 non-null   float64
 25  born_alive_dead         46377 non-null   float64
 26  born_dead               46348 non-null   float64
 27  ever_born               139277 non-null  float64
 28  father_race             75675 non-null   float64
 29  father_age              140000 non-null  int64
 30  record_weight           140000 non-null  int64
dtypes: bool(1), float64(17), int64(6), object(7)
memory usage: 32.2+ MB

In [32]:
df.groupBy('alcohol_use','drinks_per_week').count().show()

+-----------+---------------+-----+
|alcohol_use|drinks_per_week|count|
+-----------+---------------+-----+
|       NULL|           NULL|16291|
|       true|              3|    5|
|       true|              2|    7|
|       true|              4|    4|
|       true|              7|    4|
|       true|             99|   31|
|       true|              5|    2|
|       true|              1|   20|
|       true|              0| 1752|
|      false|           NULL|15815|
+-----------+---------------+-----+

In [33]:
df.groupBy('child_race','weight_pounds').count().show()

+----------+--------------+-----+
|child_race| weight_pounds|count|
+----------+--------------+-----+
|      NULL|  7.6720867176|   42|
|      NULL|  7.2642315329|   28|
|      NULL| 6.86960408392|    7|
|      NULL| 7.63019888782|    5|
|      NULL|  8.7743980276|   22|
|      NULL| 4.15130439346|    1|
|      NULL|  6.4705673897|   19|
|      NULL| 5.80697598108|    1|
|      NULL| 6.56536616236|    3|
|      NULL| 6.66236955764|    2|
|      NULL| 6.40001946586|    4|
|      NULL| 9.19548094802|    2|
|      NULL|  8.5429126525|   12|
|      NULL| 5.47407796546|    1|
|      NULL| 8.97722330864|    2|
|      NULL| 8.55173114298|    4|
|      NULL| 9.19107170278|    2|
|      NULL|10.00237282694|    1|
|      NULL| 5.87091003706|    2|
|      NULL| 5.95689031924|    1|
+----------+--------------+-----+
only showing top 20 rows

In [34]:
arr=df.drop('source_year','mother_birth_state','father_race','mother_residence_state','mother_married')

In [35]:
arr1=arr.withColumn('lmp',to_date(col('lmp'),'MMddyyyy'))

In [36]:
arr2=arr1.withColumn('weight_pounds',round(col('weight_pounds'),2))

In [37]:
null_remove=arr2.na.drop(subset=['lmp'])

In [60]:
null_remove.na.fill(value='UNKNOWN',subset=['day'])

DataFrame[year: string, month: string, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: string, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: string, alcohol_use: string, drinks_per_week: string, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [61]:
col=len(null_remove.dtypes)

In [62]:
arr5=null_remove.withColumn('cigarettes_per_day',null_remove['cigarettes_per_day'].cast(IntegerType()))
arr6=arr5.withColumn('drinks_per_week',null_remove['drinks_per_week'].cast(IntegerType()))
arr7=arr6.na.fill(value=0,subset=['cigarettes_per_day'])

In [63]:
arr7.na.fill(value=0,subset=['drinks_per_week'])

DataFrame[year: string, month: string, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: string, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [68]:
arr7=arr7.withColumn("month", arr7["month"].cast("integer"))
arr7

DataFrame[year: string, month: int, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: string, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [69]:
arr7=arr7.withColumn("year", arr7["year"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: string, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [70]:
arr7=arr7.withColumn("wday", arr7["wday"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: string, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [71]:
arr7=arr7.withColumn("plurality", arr7["plurality"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [72]:
arr7=arr7.withColumn("apgar_5min", arr7["apgar_5min"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: string, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [73]:
arr7=arr7.withColumn("mother_race", arr7["mother_race"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: string, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [74]:
arr7=arr7.withColumn("mother_age", arr7["mother_age"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: string, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [75]:
arr7=arr7.withColumn("gestation_weeks", arr7["gestation_weeks"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [76]:
arr7=arr7.withColumn("weight_gain_pounds", arr7["weight_gain_pounds"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [77]:
arr7=arr7.withColumn("born_alive_alive", arr7["born_alive_alive"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: string, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [78]:
arr7=arr7.withColumn("born_alive_dead", arr7["born_alive_dead"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: string, ever_born: string, father_age: string, record_weight: string]

In [79]:
arr7=arr7.withColumn("born_dead", arr7["born_dead"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: string, father_age: string, record_weight: string]

In [80]:
arr7=arr7.withColumn("ever_born", arr7["ever_born"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: int, father_age: string, record_weight: string]

In [81]:
arr7=arr7.withColumn("father_age", arr7["father_age"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: int, father_age: int, record_weight: string]

In [82]:
arr7=arr7.withColumn("record_weight", arr7["record_weight"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: string, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: int, father_age: int, record_weight: int]

In [84]:
arr7=arr7.withColumn("day", arr7["day"].cast("integer"))
arr7

DataFrame[year: int, month: int, day: int, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: int, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: int, father_age: int, record_weight: int]

In [85]:
arr7=arr7.withColumn("weight_gain_pounds", arr7["weight_gain_pounds"].cast("double"))
arr7

DataFrame[year: int, month: int, day: int, wday: int, state: string, is_male: string, child_race: string, weight_pounds: double, plurality: int, apgar_1min: int, apgar_5min: int, mother_race: int, mother_age: int, gestation_weeks: int, lmp: date, cigarette_use: string, cigarettes_per_day: int, alcohol_use: string, drinks_per_week: int, weight_gain_pounds: double, born_alive_alive: int, born_alive_dead: int, born_dead: int, ever_born: int, father_age: int, record_weight: int]