<a href="https://colab.research.google.com/github/Nikhilsai-123/dailyassesment/blob/main/capstone.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
!pip install pyspark

Collecting pyspark
  Downloading pyspark-3.5.2.tar.gz (317.3 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.3/317.3 MB 4.4 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.2-py2.py3-none-any.whl size=317812365 sha256=8912cbce7501453e0aefb9b8b4c3a880a532cca13abbd3d9e0c6efa8c2876fef
  Stored in directory: /root/.cache/pip/wheels/34/34/bd/03944534c44b677cd5859f248090daa9fb27b3c8f8e5f49574
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.2

In [41]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [5]:
spark=SparkSession.builder.appName('practice').getOrCreate()
df=spark.read.option('header','true').csv('natality-1.4L.csv')

In [13]:
df

DataFrame[source_year: string, year: string, month: string, day: string, wday: string, state: string, is_male: string, child_race: string, weight_pounds: string, plurality: string, apgar_1min: string, apgar_5min: string, mother_residence_state: string, mother_race: string, mother_age: string, gestation_weeks: string, lmp: string, mother_married: string, mother_birth_state: string, cigarette_use: string, cigarettes_per_day: string, alcohol_use: string, drinks_per_week: string, weight_gain_pounds: string, born_alive_alive: string, born_alive_dead: string, born_dead: string, ever_born: string, father_race: string, father_age: string, record_weight: string]

In [13]:
import pandas as pd

In [14]:
arr=pd.read_csv('natality-1.4L.csv')

<ipython-input-14-b3ddbf883d82>:1: DtypeWarning: Columns (5,12,16,17,18) have mixed types. Specify dtype option on import or set low_memory=False.
  arr=pd.read_csv('natality-1.4L.csv')

In [22]:
arr

In [16]:
arr1=df.groupBy('month').count()
arr1.show()

+-----+-----+
|month|count|
+-----+-----+
|    7|12321|
|   11|11367|
|    3|11681|
|    8|12458|
|    5|11684|
|    6|11723|
|    9|11995|
|    1|11559|
|   10|11671|
|    4|11198|
|   12|11669|
|    2|10674|
+-----+-----+

In [17]:
arr.isnull().sum()

source_year                    0
year                           0
month                          0
day                       131346
wday                        8654
state                     123104
is_male                        0
child_race                124068
weight_pounds                138
plurality                    782
apgar_1min                127032
apgar_5min                 11933
mother_residence_state    123104
mother_race                64325
mother_age                     0
gestation_weeks             2301
lmp                            0
mother_married                12
mother_birth_state        123747
cigarette_use              81576
cigarettes_per_day        134232
alcohol_use                74321
drinks_per_week           136403
weight_gain_pounds         11178
born_alive_alive           93590
born_alive_dead            93623
born_dead                  93652
ever_born                    723
father_race                64325
father_age                     0
record_weight                  0
dtype: int64

In [27]:
arr['child_race'].head(100)

0    NaN
1    NaN
2    NaN
3    NaN
4    NaN
      ..
95   NaN
96   NaN
97   NaN
98   NaN
99   NaN
Name: child_race, Length: 100, dtype: float64

In [26]:
arr['wday'].head(100)

0     3.0
1     7.0
2     4.0
3     4.0
4     6.0
     ...
95    4.0
96    7.0
97    1.0
98    1.0
99    4.0
Name: wday, Length: 100, dtype: float64

In [1]:
df.goupBy('drinks_per_week').count()

NameError: name 'df' is not defined

In [17]:
arr=df.select(col('source_year')!=col('year')).show()

+--------------------------+
|(NOT (source_year = year))|
+--------------------------+
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
|                     false|
+--------------------------+
only showing top 20 rows

In [18]:
arr1=df.groupBy('state').count().show()

+-----+------+
|state| count|
+-----+------+
| NULL|123104|
|   AL| 14258|
|   AK|  2367|
|   AR|   271|
+-----+------+

# New Section

In [11]:
arr.info()

NameError: name 'arr' is not defined

In [20]:
df.groupBy('alcohol_use','drinks_per_week').count().show()

+-----------+---------------+-----+
|alcohol_use|drinks_per_week|count|
+-----------+---------------+-----+
|       true|              9|    1|
|       true|              6|   11|
|       NULL|           NULL|74321|
|       true|              3|    8|
|       true|              8|    1|
|       true|              2|   36|
|       true|              4|    5|
|       true|              7|    4|
|       true|             99|  115|
|       true|             10|    1|
|       true|              5|    6|
|       true|              1|   72|
|       true|              0| 3335|
|      false|           NULL|59782|
|       true|           NULL| 2300|
|       true|             42|    1|
|       true|             14|    1|
+-----------+---------------+-----+

In [28]:
df.groupBy('child_race','weight_pounds').count().show()

+----------+--------------+-----+
|child_race| weight_pounds|count|
+----------+--------------+-----+
|      NULL|  7.6720867176|  149|
|      NULL|  7.2642315329|   91|
|      NULL| 6.86960408392|   23|
|      NULL| 7.63019888782|   20|
|      NULL|  8.7743980276|   66|
|      NULL| 4.15130439346|    2|
|      NULL|  6.4705673897|   60|
|      NULL| 5.80697598108|    5|
|      NULL| 6.56536616236|   17|
|      NULL| 6.66236955764|   19|
|      NULL| 6.40001946586|   21|
|      NULL| 9.19548094802|    6|
|      NULL|  8.5429126525|   56|
|      NULL| 5.47407796546|    8|
|      NULL| 8.97722330864|    7|
|      NULL| 8.55173114298|    7|
|      NULL| 9.19107170278|    3|
|      NULL|10.00237282694|    1|
|      NULL| 5.87091003706|    2|
|      NULL| 5.95689031924|    5|
+----------+--------------+-----+
only showing top 20 rows

In [35]:
arr=df.drop('source_year','mother_birth_state','father_race','mother_residence_state','mother_married')

In [54]:
arr1=arr.withColumn('lmp',to_date(col('lmp'),'MMddyyyy'))

In [61]:
arr2=arr1.withColumn('weight_pounds',round(col('weight_pounds'),2))

In [70]:
x=arr2.na.drop(subset=['lmp']).show(truncate=False)

+----+-----+----+----+-----+-------+----------+-------------+---------+----------+----------+-----------+----------+---------------+----------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+----------+-------------+
|year|month|day |wday|state|is_male|child_race|weight_pounds|plurality|apgar_1min|apgar_5min|mother_race|mother_age|gestation_weeks|lmp       |cigarette_use|cigarettes_per_day|alcohol_use|drinks_per_week|weight_gain_pounds|born_alive_alive|born_alive_dead|born_dead|ever_born|father_age|record_weight|
+----+-----+----+----+-----+-------+----------+-------------+---------+----------+----------+-----------+----------+---------------+----------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+----------+-------------+
|2005|1    |NULL|3   |NULL |true   |NULL      |7.8          |1        |NULL      |NULL      |38         |30        |40             |2004-04-17|NULL         |NULL              |NULL       |NULL           |99                |5               |2              |1        |8        |24        |1            |
|2005|5    |NULL|4   |NULL |false  |NULL      |6.12         |1        |NULL      |NULL      |7          |28        |39             |2004-08-11|NULL         |NULL              |NULL       |NULL           |99                |0               |0              |0        |1        |33        |1            |
|2005|10   |NULL|6   |NULL |true   |NULL      |6.88         |1        |NULL      |9         |NULL       |30        |40             |2005-01-11|NULL         |NULL              |NULL       |NULL           |25                |0               |0              |1        |1        |50        |1            |
|2005|10   |NULL|2   |NULL |true   |NULL      |6.76         |1        |NULL      |9         |NULL       |19        |38             |2005-01-10|NULL         |NULL              |NULL       |NULL           |25                |0               |0              |0        |1        |24        |1            |
|2005|10   |NULL|2   |NULL |false  |NULL      |8.69         |1        |NULL      |9         |NULL       |27        |39             |2005-01-19|NULL         |NULL              |NULL       |NULL           |47                |0               |0              |0        |1        |30        |1            |
|2005|9    |NULL|6   |NULL |false  |NULL      |7.0          |1        |NULL      |9         |NULL       |20        |40             |2004-12-14|NULL         |NULL              |NULL       |NULL           |42                |0               |0              |0        |1        |30        |1            |
|2005|9    |NULL|5   |NULL |false  |NULL      |8.06         |1        |NULL      |9         |NULL       |35        |40             |2004-12-03|NULL         |NULL              |NULL       |NULL           |12                |0               |0              |0        |1        |41        |1            |
|2005|2    |NULL|5   |NULL |false  |NULL      |7.63         |1        |NULL      |10        |NULL       |19        |40             |2004-05-13|NULL         |NULL              |NULL       |NULL           |15                |0               |0              |0        |1        |99        |1            |
|2005|5    |NULL|3   |NULL |false  |NULL      |7.55         |1        |NULL      |9         |NULL       |32        |40             |2004-08-07|NULL         |NULL              |NULL       |NULL           |30                |0               |0              |0        |1        |42        |1            |
|2005|1    |NULL|2   |NULL |false  |NULL      |5.89         |1        |NULL      |9         |NULL       |30        |37             |2004-05-06|NULL         |NULL              |NULL       |NULL           |31                |0               |0              |1        |1        |35        |1            |
|2005|6    |NULL|3   |NULL |true   |NULL      |6.68         |1        |NULL      |9         |NULL       |21        |37             |2004-09-30|NULL         |NULL              |NULL       |NULL           |99                |0               |0              |1        |1        |24        |1            |
|2005|11   |NULL|1   |NULL |true   |NULL      |6.5          |1        |NULL      |6         |NULL       |21        |34             |2005-03-20|NULL         |NULL              |NULL       |NULL           |50                |0               |0              |2        |1        |18        |1            |
|2005|11   |NULL|6   |NULL |true   |NULL      |5.0          |1        |NULL      |9         |NULL       |18        |37             |2005-02-17|NULL         |NULL              |NULL       |NULL           |63                |0               |0              |1        |1        |24        |1            |
|2005|4    |NULL|5   |NULL |true   |NULL      |6.81         |1        |NULL      |8         |NULL       |21        |42             |2004-06-15|NULL         |NULL              |NULL       |NULL           |58                |0               |0              |0        |1        |99        |1            |
|2005|5    |NULL|3   |NULL |true   |NULL      |6.5          |1        |NULL      |10        |NULL       |16        |39             |2004-08-06|NULL         |NULL              |NULL       |NULL           |31                |0               |0              |0        |1        |99        |1            |
|2005|11   |NULL|7   |NULL |false  |NULL      |6.45         |1        |NULL      |9         |NULL       |19        |38             |2005-03-02|NULL         |NULL              |NULL       |NULL           |20                |0               |0              |0        |1        |26        |1            |
|2005|8    |NULL|2   |NULL |true   |NULL      |6.6          |1        |NULL      |9         |NULL       |20        |40             |2004-11-13|NULL         |NULL              |NULL       |NULL           |20                |0               |0              |0        |1        |25        |1            |
|2005|9    |NULL|4   |NULL |false  |NULL      |6.38         |1        |NULL      |9         |NULL       |21        |40             |2004-12-14|NULL         |NULL              |NULL       |NULL           |53                |0               |0              |0        |1        |28        |1            |
|2005|9    |NULL|4   |NULL |false  |NULL      |8.56         |1        |NULL      |8         |NULL       |19        |39             |2004-12-15|NULL         |NULL              |NULL       |NULL           |14                |0               |0              |0        |1        |20        |1            |
|2005|9    |NULL|1   |NULL |true   |NULL      |7.19         |1        |NULL      |9         |NULL       |28        |39             |2004-12-24|NULL         |NULL              |NULL       |NULL           |99                |0               |0              |1        |1        |26        |1            |
+----+-----+----+----+-----+-------+----------+-------------+---------+----------+----------+-----------+----------+---------------+----------+-------------+------------------+-----------+---------------+------------------+----------------+---------------+---------+---------+----------+-------------+
only showing top 20 rows

TypeError: 'list' object is not callable