#PySpark Practice Notebook

In [1]:
#Source Data
#Create a csv file for the following data
%%writefile country.csv
product_id,product,country,sales
1,Product A,USA,100
2,Product B,USA,80
3,Product C,USA,30
1,Product A,Canada,60
2,Product B,Canada,40
4,Product D,UK,50
5,Product E,UK,20
1,Product A,Germany,70
3,Product C,Germany,90
4,Product D,Germany,40

Writing country.csv

In [2]:

!pip install pyspark
from pyspark.sql import SparkSession
from pyspark.sql.functions import *

Collecting pyspark
  Downloading pyspark-3.5.1.tar.gz (317.0 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 317.0/317.0 MB 4.7 MB/s eta 0:00:00
  Preparing metadata (setup.py) ... done
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)
Building wheels for collected packages: pyspark
  Building wheel for pyspark (setup.py) ... done
  Created wheel for pyspark: filename=pyspark-3.5.1-py2.py3-none-any.whl size=317488490 sha256=370d26ddfe5b2418c184aba6dcc60e47dd8775c1ca78e37365165e007b763863
  Stored in directory: /root/.cache/pip/wheels/80/1d/60/2c256ed38dddce2fdd93be545214a63e02fbd8d74fb0b7f3a6
Successfully built pyspark
Installing collected packages: pyspark
Successfully installed pyspark-3.5.1

In [ ]:
#Create SparkSession for app "Sales Data Analysis"
from pyspark.sql import SparkSession

In [3]:
#Create a pyspark DataFrame from the csv file on local storage
arr=SparkSession.builder.appName('nikhil1').getOrCreate()

In [4]:

df=arr.read.option('Header','True').csv('country.csv')

In [5]:
#Display all entries for country "Germany"
df.filter(df['country']=='Germany').show()
df.filter(col('country')=='Germany').show()

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|Germany|   70|
|         3|Product C|Germany|   90|
|         4|Product D|Germany|   40|
+----------+---------+-------+-----+

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         1|Product A|Germany|   70|
|         3|Product C|Germany|   90|
|         4|Product D|Germany|   40|
+----------+---------+-------+-----+

In [ ]:
#Find the total number of products
df.select('product_id').count()

10

In [6]:
#Find top 3 products
df.sort('sales',ascending=False).show(3)

+----------+---------+-------+-----+
|product_id|  product|country|sales|
+----------+---------+-------+-----+
|         3|Product C|Germany|   90|
|         2|Product B|    USA|   80|
|         1|Product A|Germany|   70|
+----------+---------+-------+-----+
only showing top 3 rows

In [7]:
from pyspark.sql.functions import col,sum,min,max,avg

In [ ]:
#Calculate total sales
df.select(sum('sales')).show()

+----------+
|sum(sales)|
+----------+
|     580.0|
+----------+

In [ ]:
df.select(min('sales')).show()

+----------+
|min(sales)|
+----------+
|       100|
+----------+

In [ ]:
df.select(max('sales')).show()

+----------+
|max(sales)|
+----------+
|        90|
+----------+

In [ ]:
df.select(('sales')).show()

+----------+
|avg(sales)|
+----------+
|      58.0|
+----------+

In [ ]:
import pyspark.sql.functions as func

In [10]:
#Find the market share of all products individually
tot=df.select(sum('sales')).collect()[0][0]
arr=df.withColumn('market_share',col("sales")/tot*100)
arr.show()

+----------+---------+-------+-----+------------------+
|product_id|  product|country|sales|      market_share|
+----------+---------+-------+-----+------------------+
|         1|Product A|    USA|  100| 17.24137931034483|
|         2|Product B|    USA|   80|13.793103448275861|
|         3|Product C|    USA|   30| 5.172413793103448|
|         1|Product A| Canada|   60|10.344827586206897|
|         2|Product B| Canada|   40| 6.896551724137931|
|         4|Product D|     UK|   50| 8.620689655172415|
|         5|Product E|     UK|   20|3.4482758620689653|
|         1|Product A|Germany|   70|12.068965517241379|
|         3|Product C|Germany|   90|15.517241379310345|
|         4|Product D|Germany|   40| 6.896551724137931|
+----------+---------+-------+-----+------------------+