In [2]:
pip install pyspark

Requirement already satisfied: pyspark in /usr/local/lib/python3.10/dist-packages (3.5.1)
Requirement already satisfied: py4j==0.10.9.7 in /usr/local/lib/python3.10/dist-packages (from pyspark) (0.10.9.7)

In [55]:
from pyspark.sql import SparkSession
from pyspark.sql.functions import *
from pyspark.sql.types import *

In [5]:
#Create saprksession as sqlcontext
sqlcontext=SparkSession.builder.appName('nikhil').getOrCreate()

In [65]:
#Data

data = [(501, "starwars", "2010-10-12 10:30:00", "Cult!", "positive"),
           (502, "fastandfurious", "2022-03-12 11:15:00", "missing cars", "negative"),
           (503, "dune", "2024-01-12 12:00:00", "nice watch", "neutral")]

SyntaxError: leading zeros in decimal integer literals are not permitted; use an 0o prefix for octal integers (<ipython-input-65-50c7f3d3ba62>, line 4)

In [67]:
schema=StructType([
    StructField('userid',IntegerType(),True),
    StructField('movieId',StringType(),True),
    StructField('time',StringType(),True),
    StructField('review',StringType(),True),
    StructField('sentiment',StringType(),True)

])
arr=sqlcontext.createDataFrame(data,schema=schema).show()

+------+--------------+-------------------+------------+---------+
|userid|       movieId|               time|      review|sentiment|
+------+--------------+-------------------+------------+---------+
|   501|      starwars|2010-10-12 10:30:00|       Cult!| positive|
|   502|fastandfurious|2022-03-12 11:15:00|missing cars| negative|
|   503|          dune|2024-01-12 12:00:00|  nice watch|  neutral|
+------+--------------+-------------------+------------+---------+

In [10]:
#Create dataframe
#schema as ["userid", "movieId", "time", "review", "sentiment"]
df=sqlcontext.createDataFrame(data,schema=["userid", "movieId", "time", "review", "sentiment"])

In [12]:
#Find entries with positive setiment

df.filter(df.sentiment=='positive').show()

+------+--------+-------------------+------+---------+
|userid| movieId|               time|review|sentiment|
+------+--------+-------------------+------+---------+
|   501|starwars|2010-10-12 10:30:00| Cult!| positive|
+------+--------+-------------------+------+---------+

In [25]:
#Find aerage review length


arr=df.withColumn('avg_length',length(col('review')))
arr.agg({'avg_length':'avg'}).show()

+---------------+
|avg(avg_length)|
+---------------+
|            9.0|
+---------------+

In [26]:
#count sentiments per user

arr1=df.groupBy('userid').agg({'sentiment':'count'}).show()

+------+----------------+
|userid|count(sentiment)|
+------+----------------+
|   501|               1|
|   503|               1|
|   502|               1|
+------+----------------+

Q2

In [27]:
#Data
D1 = [(1, 'sample1', 100.0), (2, 'sample2', 2500.0), (3, 'sample3', 190.0)]

In [50]:
#Data
D2 = [(1, 509, 21, 200, 2000), (2, 510, 22, 50, 1000), (3, 511, 23, 100, 3000), (4, 512, 24, 100, 2000)]

In [29]:
#Data
D3= [(108, 'Peter Parker', 'spidey@gmail.com'), (120, 'Bruce Wayne', 'batman@waynecorp.com')]

In [30]:
#Data
D4=  [(1, 108, 4, 'good'), (2, 120, 5, 'nice buy!'), (3, 120, 5, 'gotta buy!')]

In [32]:
#Create datafrma from D1 as userId, name, score
df1=sqlcontext.createDataFrame(D1,schema=['userId','name','score']).show()

+------+-------+------+
|userId|   name| score|
+------+-------+------+
|     1|sample1| 100.0|
|     2|sample2|2500.0|
|     3|sample3| 190.0|
+------+-------+------+

In [54]:
#Create datafrma from D2 as userId, movieId, watchtime, sentiment_score


schema=StructType([
    StructField("userId", IntegerType(), True),
    StructField("movieId", IntegerType(), True),
    StructField("watchtime", IntegerType(), True),
    StructField("sentiment_score", IntegerType(), True),
    StructField("price",IntegerType(),True)
])

df2=sqlcontext.createDataFrame(D2,schema=schema).show()

+------+-------+---------+---------------+-----+
|userId|movieId|watchtime|sentiment_score|price|
+------+-------+---------+---------------+-----+
|     1|    509|       21|            200| 2000|
|     2|    510|       22|             50| 1000|
|     3|    511|       23|            100| 3000|
|     4|    512|       24|            100| 2000|
+------+-------+---------+---------------+-----+

In [36]:
#Create datafrma from D3 as Id, name, contact

df3=sqlcontext.createDataFrame(D3,schema=['Id', 'name', 'contact']).show()

+---+------------+--------------------+
| Id|        name|             contact|
+---+------------+--------------------+
|108|Peter Parker|    spidey@gmail.com|
|120| Bruce Wayne|batman@waynecorp.com|
+---+------------+--------------------+

In [37]:
#Create dataframe from D4 as Id, movieId, rating, review

df4=sqlcontext.createDataFrame(D4,schema=['Id', 'movieId', 'rating', 'review']).show()

+---+-------+------+----------+
| Id|movieId|rating|    review|
+---+-------+------+----------+
|  1|    108|     4|      good|
|  2|    120|     5| nice buy!|
|  3|    120|     5|gotta buy!|
+---+-------+------+----------+