In [1]:
#Data

data = [("501", "starwars", "2010-10-12 10:30:00", "Cult!", "positive"),
           ("502", "fastandfurious", "2022-03-12 11:15:00", "missing cars", "negative"),
           ("503", "dune", "2024-01-12 12:00:00", "nice watch", "neutral")]

In [1]:
#Create saprksession as sqlcontext

In [ ]:
#Create dataframe
#schema as ["userid", "movieId", "time", "review", "sentiment"]

In [ ]:
#Find entries with positive setiment

In [ ]:
#Find aerage review length

In [ ]:
#count sentiments per user

Q2

In [ ]:
#Data
D1 = [(1, 'sample1', 100.0), (2, 'sample2', 2500.0), (3, 'sample3', 190.0)]

In [ ]:
#Data
D2 = [(1, 509, 21, 200, 2000), (2, 510, 22, 50, 1000), (3, 511, 23, 100, 3000), (4, 512, 24, 100, 2000)]

In [ ]:
#Data
D3= [(108, 'Peter Parker', 'spidey@gmail.com'), (120, 'Bruce Wayne', 'batman@waynecorp.com')]

In [ ]:
#Data
D4=  [(1, 108, 4, 'good'), (2, 120, 5, 'nice buy!'), (3, 120, 5, 'gotta buy!')]

In [ ]:
#Create datafrma from D1 as userId, name, score

In [ ]:
#Create datafrma from D2 as userId, movieId, watchtime, sentiment_score

In [ ]:
#Create datafrma from D3 as Id, name, contact

In [ ]:
#Create dataframe from D4 as Id, movieId, rating, review